In [1]:

%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab
import matplotlib.pyplot as plt
import scipy.stats as stats
import datetime
import itertools

import sklearn
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox 

import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint, adfuller, kpss
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf

import warnings
from math import sqrt
from pandas import read_csv
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
import pmdarima as pm



from pandas.tseries.offsets import DateOffset
import warnings

In [2]:
df = pd.read_excel('dataset.xlsx', index_col='Region/Country/Economy')
df.replace('..', None, inplace= True)
df.drop(columns=2022, inplace= True)
df.fillna(method='bfill', axis=1, inplace=True)
df.fillna(method='ffill', axis=1, inplace=True)
df.rename_axis('Country', inplace=True)
df = df.transpose()
df.head(2)

Country,Canada,Chile,Colombia,Costa Rica,Mexico,United States,OECD Americas,Australia,Israel,Japan,...,IEA/Accession/Association,European Union - 27,G7,G8,G20,Africa,Americas,Asia,Europe,Oceania
1971,57.486,57.724,45.999,37.704,52.102,64.525,63.486,66.342,57.262,67.048,...,62.130,57.731,66.227,58.222,57.0,30.899,61.609,54.735,58.909,64.109
1972,56.054,55.782,47.074,39.491,53.482,64.879,63.696,66.669,62.338,65.907,...,61.937,57.731,65.845,58.222,57.0,31.526,61.838,54.735,58.909,64.412

In [3]:
df1 = df.copy()

In [4]:
df['Costa Rica']

1971    37.704
1972    39.491
1973    41.514
1974    41.073
1975    41.788
1976    42.951
1977    46.696
1978    46.237
1979    44.518
1980    41.071
1981    40.896
1982    35.018
1983    36.549
1984    35.939
1985    36.863
1986    37.114
1987    37.310
1988    38.158
1989    39.003
1990    37.081
1991    37.040
1992    39.983
1993    38.817
1994    45.970
1995    44.968
1996    42.077
1997    40.760
1998    45.604
1999    41.473
2000    37.396
2001    40.601
2002    39.252
2003    39.016
2004    32.834
2005    33.626
2006    33.967
2007    35.894
2008    35.717
2009    33.730
2010    34.665
2011    35.923
2012    34.736
2013    34.451
2014    34.139
2015    33.475
2016    36.998
2017    38.268
2018    38.804
2019    35.953
2020    32.985
2021    35.295
Name: Costa Rica, dtype: float64

In [5]:
# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(train, test, arima_order):
    history = [x for x in train]
    # make predictions
    predictions = list()
    for t in range(len(test)):
        model = ARIMA(history, order=arima_order)
        model_fit = model.fit()
        yhat = model_fit.forecast()[0]
        predictions.append(yhat)
        history.append(test[t])
    # calculate out of sample error
    rmse = sqrt(mean_squared_error(test, predictions))
    return rmse

In [6]:
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(train, test, p_values, d_values, q_values):
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p, d, q)
                try:
                    rmse = evaluate_arima_model(train, test, order)
                    if rmse < best_score:
                        best_score, best_cfg = rmse, order
                except Exception as e:
                    print(f"Exception for order {order}: {e}")
                    continue
    return best_cfg

final_model

In [8]:
df.columns

Index(['Canada', 'Chile', 'Colombia', 'Costa Rica', 'Mexico', 'United States',
       'OECD Americas', 'Australia', 'Israel', 'Japan',
       ...
       'IEA/Accession/Association', 'European Union - 27', 'G7', 'G8', 'G20',
       'Africa', 'Americas', 'Asia', 'Europe', 'Oceania'],
      dtype='object', name='Country', length=174)

In [9]:
countries = [country for country in df.columns]

In [25]:
def forecasting_CO2(country):
    if country in countries:
        pass
    else:
        print('Input a valid Country.')
    data = df[country]
    data = pd.DataFrame(data)
    data.index = pd.to_datetime(data.index, format = '%Y')
    train_data = data[:40]
    test_data = data[40:]


    warnings.filterwarnings("ignore")
    best_cfg = evaluate_models(train_data.values, test_data.values, range(0, 5), range(0, 5), range(0, 5))
    model_arima = ARIMA(data[country],order = best_cfg)
    model_arima = model_arima.fit()
    

    start = len(train_data)
    end = len(train_data)+len(test_data)-1
    pred_arima = model_arima.predict(start=start,end=end)
    

    years = 11
    future_dates=[data.index[-1]+ DateOffset(years=x)for x in range(0,years)]
    predicted_df =pd.DataFrame(index=future_dates[1:],columns=data.columns)
    

    start = len(data)
    end = (start + years)
    predicted_df[country] = model_arima.predict(start = start, end = end, dynamic= True)

    return predicted_df

In [22]:
forecasting_CO2('Canada')

               Canada
2022-01-01  41.268225
2023-01-01  40.735732
2024-01-01  40.430071
2025-01-01  40.080198
2026-01-01  39.774660
2027-01-01  39.504664
2028-01-01  39.251843
2029-01-01  39.026191
2030-01-01  38.820377
2031-01-01  38.633426

In [24]:
result_dfs = []
# Loop over countries and run the function
for country in countries:
    try:
        result_df = forecasting_CO2(country)
        if result_df is not None:
            result_dfs.append(result_df)
    except Exception as e:
        print(f"An error occurred for country {country}: {e}")

# Concatenate all result DataFrames into a single DataFrame
final_result = pd.concat(result_dfs, axis=1)

# Print or manipulate the final_result DataFrame as needed
print(final_result)

An error occurred for country Belgium: LU decomposition error.
An error occurred for country Africa: SARIMAX models require univariate `endog`. Got shape (51, 2).
An error occurred for country Africa: SARIMAX models require univariate `endog`. Got shape (51, 2).
               Canada      Chile   Colombia  Costa Rica     Mexico  \
2022-01-01  41.268225  50.303228  44.049523   35.316697  50.181888
2023-01-01  40.735732  51.043024  43.554366   35.295199  50.220843
2024-01-01  40.430071  50.469171  43.683264   35.316559  51.496959
2025-01-01  40.080198  50.936281  43.604053   35.295399  52.157101
2026-01-01  39.774660  50.539440  43.594976   35.316420  52.361625
2027-01-01  39.504664  50.888648  43.611884   35.295598  52.685219
2028-01-01  39.251843  50.573053  43.585964   35.316282  52.986351
2029-01-01  39.026191  50.863875  43.604706   35.295798  53.155029
2030-01-01  38.820377  50.592286  43.591031   35.316143  53.283104
2031-01-01  38.633426  50.848263  43.598760   35.295997  53.400644

            United States  OECD Americas  Australia     Israel      Japan  \
2022-01-01      50.656191      49.250971  65.884967  60.694123  58.970448
2023-01-01      49.952297      48.941760  65.194145  59.822255  59.461088
2024-01-01      49.502254      49.441968  65.074504  59.505869  59.362599
2025-01-01      49.587780      49.612389  64.753576  60.264734  59.385621
2026-01-01      49.496874      49.523996  64.414547  60.273773  59.562477
2027-01-01      48.904475      49.384902  64.210896  59.626864  59.473706
2028-01-01      48.424948      49.377586  63.963340  59.883834  59.638213
2029-01-01      48.413148      49.433493  63.737259  60.301937  59.616349
2030-01-01      48.346202      49.461245  63.549970  59.937833  59.693792
2031-01-01      47.851126      49.446859  63.362141  59.734229  59.739651

            ...  Middle East  IEA/Accession/Association  European Union - 27  \
2022-01-01  ...    52.769180                  55.381621            44.257703
2023-01-01  ...    52.168817                  54.787337            43.798949
2024-01-01  ...    52.136243                  54.143545            43.381339
2025-01-01  ...    52.039105                  53.783000            43.149334
2026-01-01  ...    52.260201                  53.380102            42.664634
2027-01-01  ...    52.317692                  53.246077            42.391592
2028-01-01  ...    52.506987                  53.041946            42.038841
2029-01-01  ...    52.515876                  53.071619            41.655364
2030-01-01  ...    52.595001                  52.994174            41.383016
2031-01-01  ...    52.545316                  53.114819            41.003721

                   G7         G8        G20   Americas       Asia     Europe  \
2022-01-01  49.026449  48.674558  55.533947  47.246442  60.849308  45.176746
2023-01-01  48.614429  48.074626  54.763312  46.602214  60.523553  44.986230
2024-01-01  48.566065  47.929882  54.250924  47.036232  60.165455  44.279158
2025-01-01  48.183576  47.578124  53.844884  47.511093  59.871103  44.132584
2026-01-01  47.613784  46.892914  53.595072  47.325125  59.577314  43.470942
2027-01-01  47.473698  46.556764  53.451665  47.050551  59.323820  43.286202
2028-01-01  47.295868  46.405447  53.397182  47.146105  59.083464  42.697799
2029-01-01  46.710643  45.857861  53.400566  47.316177  58.872247  42.470869
2030-01-01  46.375245  45.312172  53.440256  47.274446  58.678076  41.947832
2031-01-01  46.314585  45.155187  53.497220  47.173204  58.506957  41.689615

              Oceania
2022-01-01  62.730550
2023-01-01  62.687217
2024-01-01  62.030557
2025-01-01  61.500082
2026-01-01  61.157504
2027-01-01  61.108134
2028-01-01  61.219723
2029-01-01  61.387636
2030-01-01  61.513120
2031-01-01  61.566443

[10 rows x 171 columns]

In [41]:
final_result = pd.concat(result_dfs, axis = 1)

In [42]:
final_result.to_csv('Forecasted_CO2.csv')